*.DS_Store
*.ipynb_checkpoints
.cache/
extract/esm/results_means/
extract/esm/out/
extract/one-hot/results/
extract/one-hot/out/

grid_search/results/
grid_search/out/
grid_search/old/

top-layer-metrics/across_rounds/old/

efficient-evolution/

notebooks/results_means/
notebooks/t7/pts/
notebooks/ca/csvs/
notebooks/fanzor/csvs/
notebooks/bxb1/csvs/
notebooks/t7/csvs/
notebooks/mmfnuc/csvs/
notebooks/r2/csvs/
notebooks/mlv/csvs/

data_processing/wet_lab/
data_processing/dataframes_VEP/
data_processing/dms/
data_processing/hie_temp/
data_processing/output/
data_processing/n_mutant_dicts/